/* ------------------------------------------------------------ *\
	box-stats
\* ------------------------------------------------------------ */

.box-stats {
	width: 100%; 
	display: flex; 
	flex-direction: column;
	font-size: 18px; 
	text-align: center; 

	h2 {
		margin-bottom: 0; 
		padding: 8px 16px; 
		font-size: 16px; 
		text-transform: uppercase; 
		font-weight: 700; 
	}

	h3 {
		margin-bottom: 0; 
		padding: 37px 0 32px; 
		font-size: inherit; 
		font-weight: 900; 

		@include breakpoint-down(tablet) {
			padding: 16px 0 12px;
		}
	}

	h3:first-of-type {
		padding-top: 0; 
	}

	h4 {
		margin-bottom: 0; 
		flex: 0 0 auto;
		font-size: 18px; 
		font-weight: 700; 
	}

	h5 {
		margin-bottom: 0; 
		padding: 40px 0 22px;
		text-transform: uppercase; 
		font-size: 14px; 
		font-weight: 900; 
		color: #9A9A9A;

		@include breakpoint-down(tablet) {
			padding: 20px 0 16px;
		}
	}

	h5:first-of-type {
		padding-top: 0; 
	}

	.box__head {
		border-radius: 5px 5px 0 0;
		flex: 0 0 auto;
	}

	.box__content {
		padding: 24px; 
		border-radius: 0 0 5px 5px;
		background-color: #fff; 
		flex: 1 1 auto;
	}

	.box__row {
		margin: -6px -18px; 
		display: flex; 
	}

	.box__row--alt {
		justify-content: center;

		@include breakpoint-down(mobile) {
			display: block; 
		}
	}

	.box__row--alt .box__col {
		max-width: none; 

		@include breakpoint-down(mobile) {
			padding: 0 0 6px 0;
		}
	}

	.box__col {
		padding: 6px 18px;
		min-height: 120px; 
		display: flex; 
		flex-direction: column;
		justify-content: center;
		flex: 1 1 100%;
		max-width: 50%; 
	}

	.box__col + .box__col {
		border-left: 1px solid #E2E2E2;
	}

	.box__col--alt {
		padding-left: 24px; 
		justify-content: flex-end;
		align-items: center;
		text-align: left; 

		@include breakpoint-down(mobile) {
			padding-left: 0; 
			text-align: center; 
		}
	}

	.box__col--fixed {
		flex: 0 1 auto;
		justify-content: flex-start;
	}

	.box__col + .box__col--alt,
	.box__col--alt + .box__col {
		border-left: 0;
	}

	.box__col--alt {
		padding-top: 50px; 
	}

	.box__col--alt h5 {
		width: 100%; 
		padding-bottom: 12px; 

		@include breakpoint-down(mobile) {
			width: auto; 
			text-align: center; 
		}
	}

	.box__value {
		flex: 0 0 auto;
		display: block; 
		padding: 3px 0;
		font-size: 52px; 
		line-height: 1.5; 
		font-weight: 900; 

		@include breakpoint-down(mobile) {
			font-size: 40px; 
			line-height: 1.2; 
		}
	}

	.box__value--lg {
		font-size: 75px; 
		line-height: 1.2; 

		@include breakpoint-down(mobile) {
			font-size: 40px; 
			line-height: 1.2; 
		}
	}

	.box__value--md {
		font-size: 45px; 
		line-height: 1.75; 

		@include breakpoint-down(mobile) {
			font-size: 40px; 
			line-height: 1.2; 
		}
	}

	.box__value--sm {
		font-size: 41px; 

		@include breakpoint-down(mobile) {
			font-size: 40px; 
			line-height: 1.2; 
		}
	}

	.box__value--xs {
		line-height: 1.3; 
		font-size: 40px; 

		@include breakpoint-down(mobile) {
			line-height: 1.2; 
		}
	}

	.box__delta {
		flex: 0 0 auto;
		color: $c-green;
		font-weight: 700; 
	}

	.box__delta svg {
		margin-bottom: -6px; 
		width: 11px; 
		display: inline-block; 
	}

	.box__delta--down {
		color: $c-brown;
	}
	
	.box__delta--down svg {
		margin-top: -14px; 
		margin-bottom: 2px; 
		transform: scaleY(-1); 
	}
}

/*  box-stats--vertical  */
.box-stats--vertical {
	.box__row {
		margin: 0 -4px; 
		flex-direction: column;
		align-items: center;
	}

	.box__col {
		padding: 0 4px;
		flex: 0 1 100%;
		min-width: 208px; 
	}

	.box__col + .box__col {
		margin-top: 36px; 
		padding-top: 36px; 
		border-left: 0; 
		border-top: 1px solid #E2E2E2;

		@include breakpoint-down(tablet) {
			margin-top: 10px; 
			padding-top: 10px; 
		}
	}
}

