/* ------------------------------------------------------------ *\
	chart-bar
\* ------------------------------------------------------------ */

.chart-bar {
	margin-bottom: 5px; 
	position: relative; 
	width: 100%; 
	height: 37px; 
	border-radius: 5px;
	flex: 1 1 auto;
	display: block; 
	background-color: #F4F4F4; 
	overflow: hidden; 
	transform-style: preserve-3d;

	i {
		position: absolute; 
		left: 0; 
		top: 0; 
		width: 100%; 
		transform: translateX(-100%);
		padding: 8px; 
		border-radius: 5px;
		height: 100%; 
		background-color: currentColor; 
		display: flex; 
		align-items: center;
		justify-content: flex-end;
		font-style: normal;
		transition: transform .5s linear;
	}

	span {
		width: 100%; 
		display: block; 
		text-align: right; 
		color: #fff;
		font-weight: 700; 
		opacity: 0; 
		transition: opacity .5s .3s linear;
	}
}

/*  chart-bar--badge  */
.chart-bar--badge {
	display: flex; 
	background-color: transparent;

	@include breakpoint-down(mobile) {
		display: block; 
		height: auto; 
	}

	.chart__inner {
		height: 37px; 
		position: relative; 
		background-color: #F4F4F4; 
		border-radius: 5px;
		opacity: 1; 
		flex: 1 1 auto;
	}

	.chart__badge {
		flex: 0 0 auto; 
		margin-bottom: 5px; 
		margin-left: 15px; 
		width: 58px; 
		min-height: 37px; 
		display: flex; 
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-image: url(../images/svg/badge.svg); 
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 58px auto;
		font-weight: 700; 
		opacity: 1; 
		color: $c-dark; 

		@include breakpoint-down(mobile) {
			margin: 6px auto 0; 
		}
	}

	.chart__badge strong {
		font-weight: 900; 
	}

	.chart__badge--alt {
		background: none; 
	}

}