<div
	class="box-stats box-stats--vertical ff-box-font js-box"
	data-box="box-2"
>
	<div class="box__head color-box-head-color bg-box-head-color">
		<h2 class="js-box-title">Box title</h2>
	</div><!-- /.box__head -->

	<div class="box__content">
		<h3 class="js-box-subtitle">Box subtitle</h3>

		<div class="box__row">
			<div class="box__col js-stat">
				<h4 class="color-accent-color-1">My Agency</h4>
				
				<strong class="box__value js-stat-value"></strong>
				
				<div class="box__delta js-stat-delta">
					<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

					<span class="js-stat-delta-value"></span>
				</div><!-- /.box__delta -->
			</div><!-- /.box__col -->

			<div class="box__col js-stat">
				<h4 class="color-accent-color-2">Industry</h4>
				
				<strong class="box__value js-stat-value"></strong>
				
				<div class="box__delta js-stat-delta">
					<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

					<span class="js-stat-delta-value"></span>
				</div><!-- /.box__delta -->
			</div><!-- /.box__col -->
		</div><!-- /.box__row -->
	</div><!-- /.box__content -->
</div><!-- /.box-stats -->
