<div
	class="box ff-box-font js-box"
	data-box="box-6"
>
	<div class="box__head color-box-head-color bg-box-head-color">
		<h2 class="js-box-title">Box title</h2>
	</div><!-- /.box__head -->

	<div class="box__content">
		<h3 class="js-box-subtitle">Box subtitle</h3>

		<div class="box__bars js-bars-container">
			<h5 class="js-bars-title"></h5>
			
			<div class="box__row">
				<div class="box__col">
					<span class="chart-bar js-bar"><i class="color-accent-color-1 js-bar-fill"><span class="js-bar-value"></span></i></span>
					
					<span class="chart-bar js-bar"><i class="color-accent-color-2 js-bar-fill"><span class="js-bar-value"></span></i></span>
				</div><!-- /.box__col -->
			</div><!-- /.box__row -->
		</div><!-- /.box__bars -->

		<div class="box__bars js-bars-container">
			<h5 class="js-bars-title"></h5>
			
			<div class="box__row">
				<div class="box__col">
					<span class="chart-bar js-bar"><i class="color-accent-color-1 js-bar-fill"><span class="js-bar-value"></span></i></span>
					
					<span class="chart-bar js-bar"><i class="color-accent-color-2 js-bar-fill"><span class="js-bar-value"></span></i></span>
				</div><!-- /.box__col -->
			</div><!-- /.box__row -->
		</div><!-- /.box__bars -->

		<ul class="list-legend">
			<li class="color-accent-color-1">
				<i></i>
			
				<span>My Agency</span>
			</li>
			
			<li class="color-accent-color-2">
				<i></i>
			
				<span>Industry</span>
			</li>
		</ul><!-- /.list-legend -->
	</div><!-- /.box__content -->
</div><!-- /.box -->
