<div
	class="box-stats ff-box-font js-box"
	data-box="box-3"
>
	<div class="box__head color-box-head-color bg-box-head-color">
		<h2 class="js-box-title">Box title</h2>
	</div><!-- /.box__head -->

	<div class="box__content">
		<h3 class="js-box-subtitle">Box subtitle</h3>

		<div class="box__row">
			<div class="box__col">
				<h4 class="color-accent-color-1">My Agency</h4>

				<div class="chart chart--alt js-chart-container">
					<div class="chart__inner">
						<canvas
							class="color-accent-color-1 js-donut-alt"
							width="190"
							height="190"
							data-index="0"
						></canvas>

						<div class="chart__content">
							<strong class="chart__value js-chart-value"></strong>
							
							<div class="box__delta js-box-chart-delta">
								<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

								<span class="js-chart-delta-value"></span>
							</div><!-- /.box__delta -->
						</div><!-- /.chart__content -->
					</div><!-- /.chart__inner -->

				</div><!-- /.chart -->
			</div><!-- /.box__col -->

			<div class="box__col">
				<h4 class="color-accent-color-2">Industry</h4>

				<div class="chart chart--alt js-chart-container">
					<div class="chart__inner">
						<canvas
							class="color-accent-color-2 js-donut-alt"
							width="190"
							height="190"
							data-index="1"
						></canvas>

						<div class="chart__content">
							<strong class="chart__value js-chart-value"></strong>
							
							<div class="box__delta js-box-chart-delta">
								<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

								<span class="js-chart-delta-value"></span>
							</div><!-- /.box__delta -->
						</div><!-- /.chart__content -->
					</div><!-- /.chart__inner -->
				</div><!-- /.chart -->
			</div><!-- /.box__col -->
		</div><!-- /.box__row -->
	</div><!-- /.box__content -->
</div><!-- /.box-stats -->
