<div
	class="box-stats ff-box-font js-box"
	data-box="box-1"
>
	<div class="box__head color-box-head-color bg-box-head-color">
		<h2 class="js-box-title">Box title</h2>
	</div><!-- /.box__head -->

	<div class="box__content">
		<h3 class="js-box-subtitle">Box subtitle</h3>

		<div class="box__row box__row--alt">
			<div class="box__col box__col--fixed js-stat">
				<h4 class="color-accent-color-1">My Agency</h4>
				
				<strong class="box__value box__value--lg js-stat-value"></strong>
				
				<div class="box__delta js-stat-delta">
					<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

					<span class="js-stat-delta-value"></span>
				</div><!-- /.box__delta -->
			</div><!-- /.box__col -->

			<div class="box__col box__col--fixed box__col--alt">
				<h5>Distribution</h5>

				<div class="legends">
					<div class="legend color-green">
						<span class="legend__value js-legend-1"></span>

						<span class="legend__icon">
						 	<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm4 72.6c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.1-8.4-25.3-7.1-33.8 3.1z"></path></svg>
						</span>

						<p>Promoters (<span class="js-promoters-1"></span>)</p>
					</div><!-- /.legend -->

					<div class="legend color-orange">
						<span class="legend__value js-legend-2"></span>

						<span class="legend__icon">
						 	<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160-64c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm8 144H160c-13.2 0-24 10.8-24 24s10.8 24 24 24h176c13.2 0 24-10.8 24-24s-10.8-24-24-24z"></path></svg>
						</span>

						<p>Promoters (<span class="js-promoters-2"></span>)</p>
					</div><!-- /.legend -->

					<div class="legend color-brown">
						<span class="legend__value js-legend-3"></span>

						<span class="legend__icon">
						 	<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160-64c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm-80 128c-40.2 0-78 17.7-103.8 48.6-8.5 10.2-7.1 25.3 3.1 33.8 10.2 8.4 25.3 7.1 33.8-3.1 16.6-19.9 41-31.4 66.9-31.4s50.3 11.4 66.9 31.4c8.1 9.7 23.1 11.9 33.8 3.1 10.2-8.5 11.5-23.6 3.1-33.8C326 321.7 288.2 304 248 304z"></path></svg>
						</span>

						<p>Promoters (<span class="js-promoters-3"></span>)</p>
					</div><!-- /.legend -->
				</div><!-- /.legends -->
			</div><!-- /.box__col -->

			<div class="box__col box__col--fixed">
				<h4 class="color-accent-color-2">Industry</h4>

				<div class="chart">
					<div class="chart__inner">
						<canvas
							class="js-donut"
							width="124"
							height="124"
						></canvas>

						<div class="chart__content">
							<strong class="chart__value js-chart-value"></strong>
							
							<div class="box__delta js-chart-delta">
								<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"></path></svg>

								<span class="js-chart-delta-value"></span>
							</div><!-- /.box__delta -->
						</div><!-- /.chart__content -->
					</div><!-- /.chart__inner -->
				</div><!-- /.chart -->
			</div><!-- /.box__col -->
		</div><!-- /.box__row -->
	</div><!-- /.box__content -->
</div><!-- /.box-stats -->
