<div class="filters-nav js-isotope-filters">
	<ul>
		<li class="is-active color-highlight-color">
			<button
				data-filter="*"
			>All Metrics</button>
		</li>
		
		<li>
			<button
				data-filter=".js-filter-client"
			>Client Experience</button>
		</li>
		
		<li>
			<button
				data-filter=".js-filter-recruit"
			>Recruitment & Retention</button>
		</li>
		
		<li>
			<button
				data-filter=".js-filter-sales"
			>Sales & Marketing</button>
		</li>
		
		<li>
			<button
				data-filter=".js-filter-operations"
			>Operations</button>
		</li>
		
		<li>
			<button
				data-filter=".js-filter-finance"
			>Finance</button>
		</li>
	</ul>
</div><!-- /.filters-nav -->
